<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Clubs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body style="display: flex; flex-direction: column; height: 100vh; margin: 0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{http://localhost:8080/up/home}">M&K GYM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 25%;">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <li class="nav-item" th:if="${#strings.equals(user.getRoleName(), 'ADMIN')}">
                    <a th:class="${#strings.equals(currentPath, '/up/users')} ? 'btn btn-primary' : 'nav-link active'"
                       th:style="${#strings.equals(currentPath, '/up/users')} ?
                       'background-color: white; color: black; border: 1px solid black;'"
                       th:href="@{http://localhost:8080/up/users}">Users List</a>
                </li>
                <li class="nav-item">
                    <a th:class="${#strings.equals(currentPath, '/cs/clubs')} ? 'btn btn-primary' : 'nav-link active'"
                       th:style="${#strings.equals(currentPath, '/cs/clubs')} ?
                       'background-color: white; color: black; border: 1px solid black;'"
                       th:href="@{clubs}">Clubs</a>
                </li>
                <li class="nav-item">
                    <a th:class="${#strings.equals(currentPath, '/ps/passes')} ? 'btn btn-primary' : 'nav-link active'"
                       th:style="${#strings.equals(currentPath, '/ps/passes')} ?
                       'background-color: white; color: black; border: 1px solid black;'"
                       th:href="@{http://localhost:8080/ps/passes?id=0}">Passes</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid d-flex justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{http://localhost:8080/lr/logout}"
                       style="margin-right: 35px;">Logout</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" th:href="@{http://localhost:8080/up/userPanel}"
           th:text="'Hello ' + ${user.getName()}"></a>
    </div>
</nav>
<a th:href="@{http://localhost:8080/up/home}" class="nav-link active" aria-current="page">Go Back</a>
<div style="display: flex; flex-wrap: wrap">
    <div th:each="club : ${allClubs}" style="display: flex; position: relative; width: 50%; height: 65%">
        <div style="background-color: #a6a6a6; border-radius: 15px; padding: 20px; margin: 3%; display: flex; align-items: center; flex-grow: 2;">
            <div style="width: 40%; height: 100%;">
                <img th:src="${club.getImgUrl()}" th:alt="${'Club ' + club.id}" style="width: 100%; height: 100%;">
            </div>

            <div style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
                <div style="background-color: white; border-radius: 10px; padding: 20px; display: inline-block; width: 60%">
                    <h4 th:text="${club.name}"></h4>
                    <div style="margin-top: 10px; display: inline-block;">
                        <div th:text="${club.averageRate}" style="font-size: 24px; font-weight: bold;"></div>
                        <img th:src="@{/cs/img/star.png}" alt="star" style="width: 50px; height: 50px;">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <a class="btn btn-primary" th:href="@{clubPanel(id=${club.getId()})}">Click here to learn more about
                    this club.</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>