<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M&K GYM - CHANGE PASSWORD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{home}">M&K GYM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 25%;">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <li class="nav-item" th:if="${user.getRoleName() == 'ADMIN'}">
                    <a class="nav-link active" aria-current="page" th:href="@{users}">Users List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{http://localhost:8080/cs/clubs}">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{http://localhost:8080/ps/passes?id=0}">Passes</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid d-flex justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{http://localhost:8080/lr/logout}" style="margin-right: 35px;">Logout</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" th:href="@{userPanel}" th:text="'Hello ' + ${user.getName()}"></a>
    </div>
</nav>
<br>
<br>
<div th:if="${param.success}" style="display: flex; justify-content: center; align-items: center;">
    <div class="alert alert-info">You've successfully change password!</div>
</div>
<div  style="display: flex; justify-content: center; align-items: center; margin-left: 40%; width: 500px; height: 300px; max-height: 700px;">
    <form method="post" role="form" th:action="@{http://localhost:8080/up/changePassword/save}">

        <div class="form-group mb-3">
            <label class="form-label">Old password</label>
            <input class="form-control"
                   id="oldPassword"
                   name="oldPassword"
                   placeholder="Enter old password"
                   th:field="*{user.oldPassword}"
                   type="password"
            />
            <p th:errors="*{user.oldPassword}" class="text-danger"
               th:if="${#fields.hasErrors('user.oldPassword')}">
            </p>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">New password</label>
            <input class="form-control"
                   id="newPassword"
                   name="newPassword"
                   placeholder="Confirm new password"
                   th:field="*{user.newPassword}"
                   type="password"
            />
            <p th:errors="*{user.newPassword}" class="text-danger"
               th:if="${#fields.hasErrors('user.newPassword')}">
            </p>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Confirm new password</label>
            <input class="form-control"
                   id="confirmNewPassword"
                   name="confirmNewPassword"
                   placeholder="Enter new password"
                   th:field="*{user.confirmNewPassword}"
                   type="password"
            />
            <p th:errors="*{user.confirmNewPassword}" class="text-danger"
               th:if="${#fields.hasErrors('user.confirmNewPassword')}">
            </p>
        </div>

        <div class="form-group mb-3 d-flex">
            <button class="btn btn-primary me-2" type="submit">Change Password</button>
            <a th:href="@{http://localhost:8080/up/userPanel}" class="nav-link active" aria-current="page">Go Back</a>
        </div>
    </form>
</div>
</body>
</html>